@font-face{
	font-family: "Notable";
	src: url("../Notable/Notable-Regular.ttf") format("truetype");
}
@media screen and (min-width: 1280px) 
{
   nav *
   {
    margin: 1em;
   }
   body 
   {
    width: 1280px;
    background-color: #F00;
   }
   .navigationbar
   {
    display: flex;
    flex-direction: column;
    color: #000;
   }
   .menuItem
   {
    justify-content: space-around;
   }
   .articlecontainers
   {
    display: flex;
    border-width: 1em;
    border-style: solid;
   }
   .indexarticles
   {
    flex-direction: column;
   }
   #tablet , #moblie
   {
    display: none;
   }
}
@media screen and (min-width: 480px) and (max-width: 1279px)
{
   body 
   {
    width: 480px;
    background-color: #0F0;
   }
   .navigationbar
   {
    display: flex;
    flex-direction: row;
    color: #000;
   }
   #pc , #moblie
   {
    display: none;
   }
}
@media screen and (max-width: 479px) 
{
   body 
   {
    width: 100%;
    background-color: #00F;
   }
   .navigationbar
   {
    display: flex;
    flex-direction: row;
    color: #000;
   }
   #tablet , #pc
   {
    display: none;
   }
}