@font-face{
	font-family: "Notable";
	src: url("../Notable/Notable-Regular.ttf") format("truetype");
}
@media screen and (min-width: 1280px) 
{
   body 
   {
    height: 1280px;
    background-color: rgb(136, 123, 129);
    color: #FFF;
   }
   .navigationbar
   {
    display: flex;
    background-color: #4472c4;
    box-shadow: 0px 0px 0px #000;
   }
   .menuItem
   {
    margin: 1em;
    box-sizing: border-box;
    color: #000;
    list-style: none;
    border-right: 2px solid #FFF;
    width: 100%;
   }
   .menuItem a
   {
    color: #FFF;
    text-decoration: none;
   }
   .articlecontainers
   {
    border: #000;
    border-width: 1em;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
   #article1
   {
      order: 1;
   }
   #article2
   {
      order: 2;
   }
   #article3
   {
      order: 3;
   }
   .asidecontainers
   {
    right: 0px;
    position: fixed;
   }
   .asideitems
   {
    border-style: solid;
    display: flex;
    border:#000;
    border-width: 16px;
    box-shadow: #000;
    text-decoration: dotted;
    background-color: #FFF2CC;
   }
   .asideitems a
   {
    color: #000;
   }
   #cookie
   {
    background-color: rgba(255, 170, 0, 0.5);
    z-index: 9999;
    color: #FFF;
    width: 16%;
    margin-left: 1em;
    right: 0px;
    bottom: 0px;
    align-items: flex-end;
    position: fixed;
   }
   #tablet , #moblie
   {
    display: none;
   }
}
@media screen and (min-width: 480px) and (max-width: 1279px)
{
   body 
   {
    height: 48px;
    background-color: rgb(136, 123, 129);
    color: #FFF;
   }
   .navigationbar
   {
    display: flex;
    background-color: #4472c4;
    box-shadow: 0px 0px 0px #000;
   }
   .menuItem
   {
    margin: 1em;
    box-sizing: border-box;
    color: #000;
    list-style: none;
    border-right: 2px solid #FFF;
    width: 100%;
   }
   .menuItem a
   {
    color: #FFF;
    text-decoration: none;
   }
   #article1
   {
      order: 3;
   }
   #article2
   {
      order: 2;
   }
   #article3
   {
      order: 1;
   }
   .articlecontainers
   {
    border: #000;
    border-width: 1em;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
   .asidecontainers
   {
    top: 100px;
   }
   .asideitems
   {
    border-style: solid;
    display: flex;
    border:#000;
    border-width: 16px;
    box-shadow: #000;
    text-decoration: dotted;
    background-color: #FFF2CC;
   }
   .asideitems a
   {
    color: #000;
   }
   #cookie
   {
    background-color: rgba(255, 170, 0, 0.5);
    z-index: 9999;
    color: #FFF;
    width: 16%;
    margin-left: 1em;
    right: 0px;
    bottom: 0px;
    align-items: flex-end;
    position: fixed;
   }
   #pc , #moblie
   {
    display: none;
   }
}
@media screen and (max-width: 479px) 
{
   body 
   {
    width: 100%;
    background-color: #00F;
   }
   .navigationbar
   {
    display: flex;
    flex-direction: row;
    color: #000;
   }
   #tablet , #pc
   {
    display: none;
   }
}