#logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    right: 100px;
    margin: 0 auto;
}
.clickable-card {
    text-decoration: none; 
    color: inherit; 
}
.clickable-card:hover {
    /* Styling for hover state, e.g., change background color, add a shadow, etc. */
        background-color: #E30380;
        color: white;
}
form{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#threads
{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#tag-color
{
    background-color: #E30380;
}


